<h1>K Nearest Neighbour</h1>

In [1]:
import pandas as pd
from scipy.io import arff
import numpy
import math
import operator

In [2]:
#Reading the train and test data
data=arff.loadarff("trainProdSelection.arff")
trainData = pd.DataFrame(data[0])

data=arff.loadarff("testProdSelection.arff")
testData = pd.DataFrame(data[0])

In [3]:
list(pd.DataFrame(data[0]))
pd.DataFrame(data[0]).dtypes

Type          object
LifeStyle     object
Vacation     float64
eCredit      float64
salary       float64
property     float64
label         object
dtype: object

<h3>Train Data</h3>

<h3>Pre-Processing Data</h3>

In [4]:
trainData.Type=trainData.Type.str.decode("UTF-8")
trainData.LifeStyle=trainData.LifeStyle.str.decode("UTF-8")
trainData.label=trainData.label.str.decode("UTF-8")

In [6]:
minimumv=trainData.Vacation.min()
maximumv=trainData.Vacation.max()
trainData.Vacation=trainData.Vacation.apply(lambda x:(x-minimumv)/(maximumv-minimumv))

minimumc=trainData.eCredit.min()
maximumc=trainData.eCredit.max()
trainData.eCredit=trainData.eCredit.apply(lambda x:(x-minimumc)/(maximumc-minimumc))

minimums=trainData.salary.min()
maximums=trainData.salary.max()
trainData.salary=trainData.salary.apply(lambda x:(x-minimums)/(maximums-minimums))

minimump=trainData.property.min()
maximump=trainData.property.max()
trainData.property=trainData.property.apply(lambda x:(x-minimump)/(maximump-minimump))

In [7]:
trainData.head()
#The First 5 Rows

      Type     LifeStyle  Vacation   eCredit    salary  property label
0  student  spend>saving  0.079365  0.107558  0.219960  0.183167    C1
1  student  spend>saving  0.158730  0.052326  0.293102  0.112797    C1
2  student  spend>saving  0.095238  0.177326  0.346023  0.174200    C1
3  student  spend>saving  0.031746  0.127907  0.309882  0.189984    C1
4  student  spend>saving  0.222222  0.020349  0.363663  0.127311    C1

<h3>Test Data</h3>

<h3>Pre-Processing Data</h3>

In [8]:
testData.Type=testData.Type.str.decode("UTF-8")
testData.LifeStyle=testData.LifeStyle.str.decode("UTF-8")
testData.label=testData.label.str.decode("UTF-8")

In [9]:
#minimum=testData.Vacation.min()
#maximum=testData.Vacation.max()
testData.Vacation=testData.Vacation.apply(lambda x:(x-minimumv)/(maximumv-minimumv))

#minimum=testData.eCredit.min()
#maximum=testData.eCredit.max()
testData.eCredit=testData.eCredit.apply(lambda x:(x-minimumc)/(maximumc-minimumc))

#minimum=testData.salary.min()
#maximum=testData.salary.max()
testData.salary=testData.salary.apply(lambda x:(x-minimums)/(maximums-minimums))

#minimum=testData.property.min()
#maximum=testData.property.max()
testData.property=testData.property.apply(lambda x:(x-minimump)/(maximump-minimump))

In [10]:
testData.head()
#The First 5 Rows

        Type      LifeStyle  Vacation   eCredit    salary  property label
0    student   spend<saving  0.174603  0.046512  0.270299  0.210554    C1
1    student  spend>>saving  0.444444  0.020349  0.330534  0.138584    C1
2    student  spend<<saving  0.428571  0.165698  0.299126  0.066076    C1
3   engineer   spend>saving  0.222222  0.110465  0.548670  0.080036    C1
4  librarian   spend<saving  0.015873  0.017442  0.482442  0.038246    C1

<h3>Euclidean Distance</h3>

In [11]:
def euclideanDistance(first, second, length):
    distance = 0
    
    for i in range(2):
        if (first[i]!=second[i]):
            distance += pow((1), 2)
    
    for x in range(2,length):
        distance += pow((first[x] - second[x]), 2)
    
    return math.sqrt(distance)

<h3>Fetch Neighbours</h3>

In [12]:
def fetchNeighbors(train_Set, test_Instance, k):
    distances = []
    length = len(test_Instance)-1
    
    #Looking for neighbours in train Set for every test entry
    for x in range(len(train_Set)):
        dist = euclideanDistance(test_Instance, train_Set[x], length)
        distances.append((train_Set[x], dist))
    
    #Sorting the result based on distance
    distances.sort(key=operator.itemgetter(1))
    neighbors = []
    
    #Taking only the required k entries
    for x in range(k):
        neighbors.append(distances[x][0])
    return neighbors

<h3>Frequency for Each Class</h3>

In [13]:
def getOutput(neighbors):
    classFreq = {}
    #Update a dictionary based on frequency for each and every class
    for x in range(len(neighbors)):
        result = neighbors[x][-1]
        if result in classFreq:
            classFreq[result] += 1
        else:
            classFreq[result] = 1
    output = sorted(classFreq.items(), key=operator.itemgetter(1), reverse=True)
    return output[0][0]

<h3>Calculate Accuracy</h3>

In [14]:
def calculateAccuracy(testSet, predictions):
    wins = 0
    for x in range(len(testSet)):
        if testSet[x][-1] == predictions[x]:
            wins += 1
    return (wins/float(len(testSet))) * 100.0

<h3>KNN</h3>

In [33]:
def knn(k):
    preds=[]
    for x in range(len(testData)):
        neighbors = fetchNeighbors(trainData.values, testData.values[x], k)
        result = getOutput(neighbors)
        preds.append(result)
    accuracy = calculateAccuracy(testData.values, preds)
    #print('Accuracy: ' + repr(accuracy) + '%')
    return accuracy

In [34]:
dict={}
for i in range(1,100):
    dict[i]=knn(i)

In [35]:
dict

{1: 19.047619047619047,
 2: 19.047619047619047,
 3: 28.57142857142857,
 4: 28.57142857142857,
 5: 28.57142857142857,
 6: 28.57142857142857,
 7: 28.57142857142857,
 8: 23.809523809523807,
 9: 23.809523809523807,
 10: 19.047619047619047,
 11: 19.047619047619047,
 12: 14.285714285714285,
 13: 14.285714285714285,
 14: 19.047619047619047,
 15: 19.047619047619047,
 16: 19.047619047619047,
 17: 19.047619047619047,
 18: 19.047619047619047,
 19: 19.047619047619047,
 20: 19.047619047619047,
 21: 19.047619047619047,
 22: 19.047619047619047,
 23: 19.047619047619047,
 24: 19.047619047619047,
 25: 19.047619047619047,
 26: 19.047619047619047,
 27: 19.047619047619047,
 28: 14.285714285714285,
 29: 14.285714285714285,
 30: 14.285714285714285,
 31: 14.285714285714285,
 32: 19.047619047619047,
 33: 19.047619047619047,
 34: 19.047619047619047,
 35: 19.047619047619047,
 36: 19.047619047619047,
 37: 19.047619047619047,
 38: 19.047619047619047,
 39: 19.047619047619047,
 40: 19.047619047619047,
 41: 19.047619047619047,
 42: 19.047619047619047,
 43: 19.047619047619047,
 44: 19.047619047619047,
 45: 19.047619047619047,
 46: 19.047619047619047,
 47: 19.047619047619047,
 48: 19.047619047619047,
 49: 19.047619047619047,
 50: 19.047619047619047,
 51: 19.047619047619047,
 52: 19.047619047619047,
 53: 23.809523809523807,
 54: 23.809523809523807,
 55: 23.809523809523807,
 56: 23.809523809523807,
 57: 33.33333333333333,
 58: 33.33333333333333,
 59: 28.57142857142857,
 60: 28.57142857142857,
 61: 28.57142857142857,
 62: 28.57142857142857,
 63: 33.33333333333333,
 64: 19.047619047619047,
 65: 23.809523809523807,
 66: 23.809523809523807,
 67: 23.809523809523807,
 68: 19.047619047619047,
 69: 19.047619047619047,
 70: 19.047619047619047,
 71: 19.047619047619047,
 72: 19.047619047619047,
 73: 19.047619047619047,
 74: 23.809523809523807,
 75: 19.047619047619047,
 76: 19.047619047619047,
 77: 14.285714285714285,
 78: 14.285714285714285,
 79: 9.523809523809524,
 80: 4.761904761904762,
 81: 0.0,
 82: 4.761904761904762,
 83: 4.761904761904762,
 84: 4.761904761904762,
 85: 9.523809523809524,
 86: 9.523809523809524,
 87: 9.523809523809524,
 88: 9.523809523809524,
 89: 9.523809523809524,
 90: 9.523809523809524,
 91: 9.523809523809524,
 92: 9.523809523809524,
 93: 4.761904761904762,
 94: 9.523809523809524,
 95: 9.523809523809524,
 96: 14.285714285714285,
 97: 14.285714285714285,
 98: 14.285714285714285,
 99: 9.523809523809524}

In [36]:
import operator
print( "Maximum accuracy is : ",max(dict.items(), key=operator.itemgetter(1))[1], " at k = ",max(dict.items(), key=operator.itemgetter(1))[0])

Maximum accuracy is :  33.33333333333333  at k =  57