<h1>K Nearest Neighbour</h1>

In [1]:
import pandas as pd
from scipy.io import arff
import numpy
import math
import operator

In [2]:
#Reading the train and test data
data=arff.loadarff("trainProdSelection.arff")
trainData = pd.DataFrame(data[0])

data=arff.loadarff("testProdSelection.arff")
testData = pd.DataFrame(data[0])

In [3]:
list(pd.DataFrame(data[0]))
pd.DataFrame(data[0]).dtypes

Type          object
LifeStyle     object
Vacation     float64
eCredit      float64
salary       float64
property     float64
label         object
dtype: object

<h3>Train Data</h3>

<h3>Pre-Processing Data</h3>

In [4]:
trainData.Type=trainData.Type.str.decode("UTF-8")
trainData.LifeStyle=trainData.LifeStyle.str.decode("UTF-8")
trainData.label=trainData.label.str.decode("UTF-8")

In [5]:
minimumv=trainData.Vacation.min()
maximumv=trainData.Vacation.max()
trainData.Vacation=trainData.Vacation.apply(lambda x:(x-minimum)/(maximum-minimum))

minimumc=trainData.eCredit.min()
maximumc=trainData.eCredit.max()
trainData.eCredit=trainData.eCredit.apply(lambda x:(x-minimum)/(maximum-minimum))

minimums=trainData.salary.min()
maximums=trainData.salary.max()
trainData.salary=trainData.salary.apply(lambda x:(x-minimum)/(maximum-minimum))

minimump=trainData.property.min()
maximump=trainData.property.max()
trainData.property=trainData.property.apply(lambda x:(x-minimum)/(maximum-minimum))

In [6]:
trainData.head()
#The First 5 Rows

      Type     LifeStyle  Vacation   eCredit    salary  property label
0  student  spend>saving  0.079365  0.107558  0.219960  0.183167    C1
1  student  spend>saving  0.158730  0.052326  0.293102  0.112797    C1
2  student  spend>saving  0.095238  0.177326  0.346023  0.174200    C1
3  student  spend>saving  0.031746  0.127907  0.309882  0.189984    C1
4  student  spend>saving  0.222222  0.020349  0.363663  0.127311    C1

<h3>Test Data</h3>

<h3>Pre-Processing Data</h3>

In [7]:
testData.Type=testData.Type.str.decode("UTF-8")
testData.LifeStyle=testData.LifeStyle.str.decode("UTF-8")
testData.label=testData.label.str.decode("UTF-8")

In [8]:
minimum=testData.Vacation.min()
maximum=testData.Vacation.max()
testData.Vacation=testData.Vacation.apply(lambda x:(x-minimum)/(maximum-minimum))

minimum=testData.eCredit.min()
maximum=testData.eCredit.max()
testData.eCredit=testData.eCredit.apply(lambda x:(x-minimum)/(maximum-minimum))

minimum=testData.salary.min()
maximum=testData.salary.max()
testData.salary=testData.salary.apply(lambda x:(x-minimum)/(maximum-minimum))

minimum=testData.property.min()
maximum=testData.property.max()
testData.property=testData.property.apply(lambda x:(x-minimum)/(maximum-minimum))

In [9]:
testData.head()
#The First 5 Rows

        Type      LifeStyle  Vacation   eCredit    salary  property label
0    student   spend<saving      0.20  0.058824  0.104637  0.398926    C1
1    student  spend>>saving      0.54  0.021008  0.175059  0.243041    C1
2    student  spend<<saving      0.52  0.231092  0.138339  0.085992    C1
3   engineer   spend>saving      0.26  0.151261  0.430086  0.116229    C1
4  librarian   spend<saving      0.00  0.016807  0.352657  0.025714    C1

<h3>Euclidean Distance</h3>

In [23]:
def euclideanDistance(first, second, length):
    distance = 0
    
    for i in range(2):
        if (first[i]!=second[i]):
            distance += pow((1), 2)
    
    for x in range(2,length):
        distance += pow((first[x] - second[x]), 2)
    
    return math.sqrt(distance)

<h3>Fetch Neighbours</h3>

In [2]:
def fetchNeighbors(train_Set, test_Instance, k):
    distances = []
    length = len(test_Instance)-1
    
    #Looking for neighbours in train Set for every test entry
    for x in range(len(train_Set)):
        dist = euclideanDistance(test_Instance, train_Set[x], length)
        distances.append((train_Set[x], dist))
    
    #Sorting the result based on distance
    distances.sort(key=operator.itemgetter(1))
    neighbors = []
    
    #Taking only the required k entries
    for x in range(k):
        neighbors.append(distances[x][0])
    return neighbors

<h3>Frequency for Each Class</h3>

In [6]:
def getOutput(neighbors):
    classFreq = {}
    #Update a dictionary based on frequency for each and every class
    for x in range(len(neighbors)):
        result = neighbors[x][-1]
        if result in classFreq:
            classFreq[result] += 1
        else:
            classFreq[result] = 1
    output = sorted(classFreq.items(), key=operator.itemgetter(1), reverse=True)
    return output[0][0]

<h3>Calculate Accuracy</h3>

In [7]:
def calculateAccuracy(testSet, predictions):
    wins = 0
    for x in range(len(testSet)):
        if testSet[x][-1] == predictions[x]:
            wins += 1
    return (wins/float(len(testSet))) * 100.0

<h3>KNN</h3>

In [9]:
def knn(k):
    preds=[]
    for x in range(len(testData)):
        neighbors = fetchNeighbors(trainData.values, testData.values[x], k)
        result = getOutput(neighbors)
        preds.append(result)
    accuracy = calculateAccuracy(testData.values, preds)
    print('Accuracy: ' + repr(accuracy) + '%')

In [25]:
knn(55)

Accuracy: 33.33333333333333%